<div style="width: 400px; margin: auto">
<h4>Edycja produktu</h4>
  <div class="uk-margin">
    <label>Nazwa</label>
    <input class="uk-input" type="text">
  </div>
  <div class="uk-margin">
    <label>Cena</label>
    <input class="uk-input">
  </div>
  <div class="uk-margin">
    <label>Ilość</label>
    <input class="uk-input">
  </div>
  <div class="uk-margin">
    <label>Dostępny </label>
    <input type="checkbox" class="uk-checkbox">
  </div>
  <input hidden type="number">
  <a><input class="uk-button uk-button-danger" type="button" value="Anuluj"></a>
  <input class="uk-button uk-button-primary" type="submit" value="Zapisz">
</div>
